body {
    margin: 0%;
    padding: 0%;
    width: 96%;
    height: 91%;
    position: absolute;
    /*border: solid 1px;*/
}

.contenedor-principal {
    width: 100%;
    height: 100%;
    display: inline-flex;
    padding-left: 3%;
    padding-top: 2%;
    /*min-width: auto;
    min-height: auto;*/
    /*border: solid 1px;*/
}

.contenedor_tareas {
    width: 70%;
    height: 100%;
    border: solid 1px;
    margin-right: 1%;
    overflow: auto;
    overflow-x: hidden;
}

/*
caja que contiene el titulo
de herramientas y el div del form
*/
.cotenedor-barra-herramientas {
    width: 25%;
    height: 95.5%;
    /*border: 1px solid;
    border-color: rgb(38, 133, 170);*/
    margin-left: 1%;
    overflow: hidden;
    padding: 1%;
    position: relative;
}

/*
caja que contiene a el formulario
*/
.caja_creacion_tareas {
    height: 70%;
    padding: 2%;
    /*border: solid 1px;*/
    display: block;
}

.caja_creacion_tareas form {
    display: inline;
    padding: 1%;
}


#titulo_herramientas {
    margin-left: 30%;
    margin-bottom: 2%;
}

#nombre_tarea {
    height: 10%;
    width: 93%;
    padding: 1.5%;
    margin-top: 4%;
    margin-bottom: 3%;
}


.caja_creacion_tareas button {
    height: 13%;
    width: 50%;
    padding: 1%;
}

.caja_creacion_tareas textarea {
    margin-top: 1%;
    margin-bottom: 1%;
    border: solid 1px;
    height: 40%;
    width: 95%;
}

.calendario {
    margin-top: 1%;
    margin-bottom: 1%;
    display: block;
    height: 10%;
}


.cuadro_tarea {
    margin: 1em 1em;
    width: 90%;
    display: flex;
    position: relative;
    border: solid 1px;
}

.cuadro_tarea:hover {
    box-shadow: 2px 2.5px rgb(172, 167, 167);
}

.cuadro_tarea div {
    margin: 1.2em;
    /*border:  solid 1px rgb(136, 230, 98);*/
    padding: 0.3em;
}

.titulo_tarea {
    /*border: solid 1px;*/
    width: 40%;
}


.titulo_tarea b {
    display: block;
}

.boton_tareas {
    position: absolute;
    background-color: rgb(228, 177, 177); 
    border: 0.5px solid rgb(207, 102, 102);
    width: 100%;
    height: 100%;
    opacity: 0.1;
}


