
.contenedor_tareas {
    border:none;
}

.contenedor_titulo {
    border: solid 1px;
    width: 80%;
    height: 10%;
    padding: 0.5em;
    height: auto;
    word-wrap: break-word;
}


#titulo{
    text-align: justify;
}

.contenedor_descripcion {
    padding: 1em;
    width: 85%;
    overflow-y: auto;
}



.cotenedor-barra-herramientas {
    width: 20%;
    text-align: right;
}

.contenedor_fechas label, b {
    display: block;
    margin-bottom: 1rem;
}

.contenedor_botones {
    position: absolute;
    bottom: 7%;
    right: 4% ;
    align-items: center;
    padding: 1em;
}


.cotenedor-barra-herramientas button {
    display: block;
    margin: 0.2em;
    height: 40px;
    width: 100px;
    right: -60%;
}

